<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InfoHUD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InfoHUD.Properties.Settings>
            <setting name="HUDObjects" serializeAs="String">
                <value>Logo:0,0|CPURAM:5,0|IP:9,0|NET:9,1|Clock:55,0|RSS:25,0|Date:17,1|User:17,0</value>
            </setting>
            <setting name="HUDSize" serializeAs="String">
                <value>60, 2</value>
            </setting>
            <setting name="IONETInterface" serializeAs="String">
                <value>Intel[R] Wireless WiFi Link 4965AGN</value>
            </setting>
            <setting name="IORSSFeeds" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://index.hu/24ora/rss/</string>
                        <string>http://rss.groups.yahoo.com/group/mechatronika20082009m2/rss</string>
                    </ArrayOfString>
                </value>
            </setting>
        </InfoHUD.Properties.Settings>
    </userSettings>
</configuration>