<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DirectXScreenSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DirectXScreenSaver.Properties.Settings>
            <setting name="ParticleStartVelocity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ParticleSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ParticleMaxAccelration" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ParticleGravity" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ParticleClipSize" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ParticleColors" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ParticleControlMoveInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ParticleControlMoveMaxStep" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ParticleCount" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ParticleControlCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FadeOutInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FadeSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="SplashOpacity" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Splash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplashImage" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="SplashHorizontalPlacement" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="SplashVerticalPlacement" serializeAs="String">
                <value>Top</value>
            </setting>
        </DirectXScreenSaver.Properties.Settings>
    </userSettings>
</configuration>